/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #000000;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #000000;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url('./dreamspace2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3; /* ajuste conforme desejado */
}

.content {
  position: relative;
  z-index: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  color: #1e163b;
}

/* Cabeçalho */
header {
  background-color: #927bd1;
  color: white;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: #050838;
  text-decoration: none;
  transition: color 0.5s;
}

.menu a:hover{
  color: #8c64fc;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: #000000;
}

.card {
  background-color: white;
  padding: 20px 0px;
  min-width: 250px;
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  border: #000000 2px solid; 
  margin-bottom: 20px; 
}

.card:hover{
  transform: translateY(-5px);
}

.text-padding{
  padding-left: 10px;
  padding-right: 10px;
}

footer{
  color: #1d1eb4;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.mari{
  margin-left: 35%;
}

.mari1{
  margin-left: 33%;
}

.meow {
  margin-left: 0px;
}

.card img {
  display: block;
  width: 35%;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.logo1{
  margin-left: 20%;
}